body{
  background: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.intro {
  color: #C2185B;
  width: 600px;
  margin: auto;
  line-height: 20px;
  text-align: justify;
}

h2{
  color: #D70026;
  margin: 20px;
  font-size: 25px;
}

h3 {
  color: #212121;
  margin-left: 40px;
  margin-bottom: 20px;
}


.code-pen {
  width: 700px;
  margin: auto;
  display: none;
}

.visible {
  display: block;
}
